@model UserLoginViewModel

<div class="d-flex justify-content-center align-items-center">
<div class="col-lg-4">
    <form asp-action="login" method="post">
        <div class="login-form">
            <h4 class="login-title">Login</h4>
            <div class="row">
                <div class="col-lg-12">
                    <label>Email Address*</label>
                    <input asp-for="Email" placeholder="Email Address" />
                </div>
                <div class="col-lg-12">
                    <label>Password</label>
                    <input asp-for="Password" placeholder="Password" />
                </div>
                <div class="mt-md-0 text-danger" asp-validation-summary="ModelOnly">
                </div>
               
                <div class="col-md-4 pt-1 mt-md-0">
                    <div class="forgotton-password_info">
                        <a asp-action="forgetpassword" asp-controller="account"> Forget Password?</a>
                    </div>
                </div>
              <input name="returnUrl" type="hidden" value="@ViewBag.ReturnUrl">
                <div class="row">
                    <div class="col-lg-6 pt-5">
                        <button class="btn btn-custom-size lg-size btn-pronia-primary">
                            Login
                        </button>
                    </div>
                    <div class="col-lg-6 pt-5">
                        <a class="btn btn-custom-size lg-size btn-pronia-primary" asp-action="googlelogin">
                            Login with Google
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</div>
</div>

