@model CommentFormViewModel
@{
    ViewData["Title"] = "Reply";
}
<div class="row justify-content-center">
    <div class="col-md-8 " style="margin-top:100px">
        
        <div class="d-flex flex-column  align-items-center">
        <div class="col-md-4" style="margin:50px">Comment :@ViewBag.Comment</div>
        <div class="col-md-6">
        <form method="post" asp-action="detail">
            <div class="form-group d-flex justify-content-center align-items-center">
                <label asp-for="Show">Show</label>
                <input class="form-control" asp-for="Show">
                <span class="text-danger" asp-validation-for="Show"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReplyComment">Reply</label>
                <textarea class="form-control" asp-for="ReplyComment"></textarea>
                <span asp-validation-for="ReplyComment"></span>
            </div>
            <input type="hidden" value="@ViewBag.CommentId" name="commentid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        </div>
    </div>
</div>


@section Validation{
    @Html.Partial("_ValidationScripsPartial")
}
